<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>742750207748-hgo7f0djejhth9u0du0qpe5nlfqpdvgd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742750207748-hgo7f0djejhth9u0du0qpe5nlfqpdvgd</string>
	<key>API_KEY</key>
	<string>AIzaSyB0_o1XoE7W4DVevafAk3j7EfVoVPbVWvY</string>
	<key>GCM_SENDER_ID</key>
	<string>742750207748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tiy.FilmFest2</string>
	<key>PROJECT_ID</key>
	<string>filmfest2-a44ea</string>
	<key>STORAGE_BUCKET</key>
	<string>filmfest2-a44ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:742750207748:ios:08b0034ede053e17</string>
	<key>DATABASE_URL</key>
	<string>https://filmfest2-a44ea.firebaseio.com</string>
</dict>
</plist>